<div class="main-container">
  <h1 style="font-weight: 900; text-align: center; margin: 15px 0;">CHOOSE IT!</h1>
  <div class="field">
  </div>

  <div *ngIf="this.game.gameStatus === 0" class="field d-flex justify-content-center" style="width: 100%;">
    <button (click)="startGame()" mat-raised-button color="accent" class="start-game">START</button>

  </div>

  <div *ngIf="this.game.gameStatus === 1 && this.game.nextDificulty === false" class="gameboard">

      <p>{{image.name}}</p>
      <div id={{image.id}} class="subfield col-16"> <img src={{image.src}} width="98" height="94"/>

    </div>

    <div>
      <div id="1" class="wordSquare" (click)="clickSubfield($event)">{{word1.name}}</div>
      <div id="2" class="wordSquare" (click)="clickSubfield($event)">{{word2.name}}</div>
      <div id="3" class="wordSquare" (click)="clickSubfield($event)">{{word3.name}}</div>
    </div>


  </div>

  <div *ngIf="this.game.nextDificulty === true" class="show-this">
    <p>This is for showing a button to go for next dificulty</p>
    <button (click)="startGame()" routerLink="/adventure" mat-raised-button color="accent" class="start-game">Back to adventure</button>
    <button (click)="playHardMode()" routerLink="/game2" mat-raised-button color="accent" class="start-game">Play hard mode</button>
  </div>

</div>
