.wordSquare {
  margin: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 30px;
  width: 90px;
  border: 1px solid white;
  padding: 0px;
  &.right-answer {
    background: rgb(83,163,83);
  }
  &.wrong-answer {
    background: rgb(230,109,109);
  }
  &.backAtIT {
    background: #ffffff;
  }
}

.gameboard {
  display: flex;
  justify-content: space-around;

}
