<div class="main-container">
  <h1 style="font-weight: 900; text-align: center; margin: 15px 0;">YOUR ADVENTURE MAP</h1>
  <div class="field">
  </div>

  <div class="field d-flex justify-content-center" style="width: 100%;">
    <a class="firstGame" routerLink="/game1">THE GRID</a>

  </div>

  <div class="field d-flex justify-content-center" style="width: 100%;">
    <button *ngIf="this.game.gameOneCompleted === true" (click)="goToGame()" routerLink="/game2" mat-raised-button color="accent" class="start-game">CHOOSE IT!</button>
  </div>

  <div *ngIf="this.game.text1 === true">
    <p>{{adventureTextVar[0].text}}</p>
    <button (click)="dialogMove($event)" id="1">next</button>
  </div>

  <div *ngIf="this.game.text2 === true" (click)="dialogMove($event)" id="2">
    <p>{{adventureTextVar[1].text}}</p>
  </div>


  <router-outlet></router-outlet>

</div>
