<div class="main-container">
  <h1 style="font-weight: 750; text-align: center; margin: 10px 0;">YOUR ADVENTURE MAP</h1>
  <div class="field">
  </div>

  <div class="adventureHorizontalDisplay" style="margin: 15px;">
    <div class="adventureDisplay">
      <div class="field d-flex justify-content-center">
        <a class="firstGame" routerLink="/game1"><p></p></a>
      </div>
      <div *ngIf="this.game1Finished === 'finished'" class="field d-flex justify-content-center">
        <a class="secondGame" routerLink="/game2"></a>
      </div>
      <div *ngIf="this.game2Finished === 'finished'" class="field d-flex justify-content-center">
        <a class="thirdGame" routerLink="/game3"></a>
      </div>

      <div *ngIf="this.game.showDialog === true" class="dialogDisplay">

        <div *ngIf="this.game.text1 === true" class="field d-flex" style="width: 100%;">
          <img src="assets/images/spaceCadetFinal.png" (click)="dialogMove($event)" width="265" height="300"/>
          <a class="dialog" (click)="dialogMove($event)" id="1">{{db[0].dialog}}</a>
        </div>
        <div *ngIf="this.game.text2 === true" class="field d-flex justify-content-flex-end" style="width: 100%;">
          <img src="assets/images/spaceCadetFinal.png" (click)="dialogMove($event)" width="265" height="300"/>
          <a class="dialog" (click)="dialogMove($event)" id="2">{{db[1].dialog}}</a>
        </div>
        <div *ngIf="this.game.text3 === true" class="field d-flex justify-content-flex-end" style="width: 100%;">
          <img src="assets/images/spaceCadetFinal.png" (click)="dialogMove($event)" width="265" height="300"/>
          <a class="dialog" (click)="dialogMove($event)" id="3">{{db[2].dialog}}</a>
        </div>
      </div>

    </div>

  </div>

  <router-outlet></router-outlet>

</div>
