<!--    <nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/adventure">Adventure</a>
      <a class="nav-item nav-link" routerLink="/game1">The Grid</a>
      <a class="nav-item nav-link" routerLink="/game2">Choose it!</a>
      <a class="nav-item nav-link" routerLink="/game3">Lateral Buttons</a>
      <a class="nav-item nav-link" routerLink="/db">DB</a>
      <a class="nav-item nav-link" routerLink="/search">Search</a>
  </div>
</nav> -->

<app-side-nav
  [sidenavTemplateRef]="navContent"
  [direction]="'left'"
  [navWidth]="330"
  [duration]="0.5"></app-side-nav>

<div class="main-container">
  <app-header></app-header>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>

<ng-template #navContent>
  <div class="sideContent">
    <div class="profile">
      <span class="material-icons" (click)="toggleSideNav()" routerLink="/profile">account_circle</span>
    </div>


    <div class="bottom">
      <div class="field d-flex justify-content-center" style="width: 100%;">
        <a class="firstGame" (click)="toggleSideNav()" routerLink="/adventure">GO TO ADVENTURE</a>
      </div>

    <br>

      <div class="configuration">
        <button (click)="clearLocalStorage()"class="material-icons">build_circle</button>
      </div>
    </div>
  </div>
</ng-template>

<router-outlet></router-outlet>
