.sideContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.bottom {
  justify-content: flex-end;
}

.profile {
  min-height: 300px;
}

.firstGame {
  padding: 20px;
  height: 151px;
  width: 200px;
  background-image: url('../assets/images/homeShip.png');
  background-repeat: no-repeat;
  transition: 0.5s;
}

.firstGame:hover {
  width: 220px;
}

.start-game{
  position: relative;
  left: 60px;
  bottom: 40px;
}
