<div class="main-container">
  <h1 style="font-weight: 900; text-align: center; margin: 15px 0;">LATERAL BUTTONS</h1>
  <div class="field">
  </div>

  <div class="imgAndWord" *ngIf="this.game.hasAnImage === true">
    <img src={{src}} width="98" height="94"/>
  </div>
  <div class="imgAndWord" *ngIf="this.game.hasAnImage === false">
    <h2>{{realName}}</h2>
  </div>
    <div>
      <div class="squareForCategory">
        <button (click)="lateralButtons($event)" mat-raised-button color="accent" id="left" class="bigButtonLeft">{{leftValue}}</button>
      </div>
      <div class="squareForCategory2">
        <button (click)="lateralButtons($event)" mat-raised-button color="accent" id="right" class="bigButtonRight">{{rightValue}}</button>
      </div>
    </div>

    <div *ngIf="this.game.nextDificulty === true" class="show-this">
      <p>This is for showing a button to go for next dificulty</p>
      <button (click)="startGame()" routerLink="/adventure" mat-raised-button color="accent" class="start-game">Back to adventure</button>
      <button (click)="playHardMode()" routerLink="/game2" mat-raised-button color="accent" class="start-game">Play hard mode</button>
    </div>
</div>

