<div class="main-container">
  <h1 style="font-weight: 900; text-align: center; margin: 15px 0;">TIC-TAC-TOE</h1>
  <div class="field">
    <p class="current-status mat-display-1" style="color: #000">Press to start</p>
  </div>

  <div *ngIf="this.game.gameStatus === 0" class="field d-flex justify-content-center" style="width: 100%;">
    <button (click)="startGame()" mat-raised-button color="accent" class="start-game">START</button>

  </div>

  <div *ngIf="this.game.gameStatus === 1" class="gameboard">

    <div class="players right-answers align-self-center">
      <p class="mat-body-1" style="font-weight: 700; margin: 0 0 10px 0;">Correct</p>
    </div>

    <div class="gamefield container-fluid">
      <div class="row">
        <div (click)="clickSubfield($event)" position="0" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="1" class="subfield col-4"> <img src="assets/images/strawberry.jpg" width="98" height="94"/> </div>
        <div (click)="clickSubfield($event)" position="2" class="subfield col-4"></div>
      </div>
      <div class="row">
        <div (click)="clickSubfield($event)" position="3" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="4" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="5" class="subfield col-4"></div>
      </div>
      <div class="row">
        <div (click)="clickSubfield($event)" position="6" class="subfield col-4"> <img src="assets/images/buffet.png" width="98" height="94"/> </div>
        <div (click)="clickSubfield($event)" position="7" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="8" class="subfield col-4"></div>
      </div>

    </div>

    <div class="players wrong-answers align-self-center">
      <p class="mat-body-1" style="font-weight: 700; margin: 0 0 10px 0;">Fails</p>
    </div>
  </div>

</div>
