.buttons {
  display: flex;
  justify-content: space-around;
}

.squareForCategory {
  height: 200px;
  width: 200px;
  top: 350px;

  .bigButtonLeft {
    position: relative;
    top: 10px;
    left: 5px;
    height: 150px;
    width: 150px;
    &.right-answer {
      background: rgb(83,163,83);
    }
    &.wrong-answer {
      background: rgb(230,109,109);
    }
    &.backAtIT {
      background: #69F0AE;
    }

  }
}

.squareForCategory2 {
  height: 200px;
  width: 200px;
  top: 350px;

  .bigButtonRight {
    position: relative;
    transition: all .5s linear 0;
    top: 10px;
    right: -25px;
    height: 150px;
    width: 150px;
    &.right-answer {
      background: rgb(83,163,83);
    }
    &.wrong-answer {
      background: rgb(230,109,109);
    }
    &.backAtIT {
      background: #69F0AE;
    }
  }
}

.imgAndWord {
  position: relative;
  height: 100px;
  width: 100px;
  top: 0px;
  left: -25px;
}

.centeringIMG {
  display: flex;
  justify-content: space-around;
  margin: auto;
}
