/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import "~bootstrap/scss/bootstrap";

html, body { height: 100%; }
body {

  //background-color: #37474f;
  background-image: url('./assets/images/universe.png');
  color: white;
  padding: 0;
  margin: 0;
  position:
  absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.show-this {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
